{
  "CONSUMER_KEY" : "XXXX",
  "CONSUMER_SECRET" : "XXXX",
  "ACCESS_TOKEN" : "XXXX",
  "ACCESS_TOKEN_SECRET" : "XXXX",
  "DATABASE_SERVER" : "XXXX",
  "DATABASE_PORT" : XXXX,
  "DATABASE_NAME" : "XXXX",
  "DATABASE_USER" : "XXXX",
  "DATABASE_PASSWORD" : "XXXX"
}